:root {
    --color-one: grey;
    --color-two: skyblue;
}

.home, .tours, .form, .about {
  
    list-style-type: none;
  }
  
  .main-navbar-ul  a, .language {
    text-decoration: none;
    color:var(--color-one);
    padding: .2em;
  
  }

  .main-navbar-ul li:hover, .main-navbar-ul a:hover {
    color: var(--color-two);
    text-decoration: underline;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-navbar-ul {
    display: flex;
  }