.categorie-container {
    display: flex;
}

.categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.categorie-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.categorie-name {
    font-size: 1em;
}